<div class="w-full h-full surface-200 border-round-top-2xl border-noround-right z-0 pt-2 p-3">

  <!-- 頁面名稱 -->
  <div class="flex justify-content-between px-2">
    <!-- subtitle -->
    <div >
      <h3 class="titleColor m-0">門診批價系統 /批價管理 <i class="pi pi-question-circle"></i></h3>
    </div>
    <!-- subtitle end -->

    <!-- button-area -->
    <div class="button-area flex gap-3">
      <div>
        <p-toast></p-toast>
        <p-splitButton styleClass="p-button-sm" appendTo="body" label="列印" (onClick)="save('info')" [model]="items"></p-splitButton>
      </div>
      <div class="card pb-3">
        <p-button styleClass="p-button-sm text-0 mycolor text-900 hover:text-0 hover:bg-green-800" (click)="showDialog()" label="收費查詢"></p-button>
        <p-dialog header="重大傷病" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
          <div class="dia-content w-full">
            <div class="numbers flex mt-2 gap-2">
              <div class="card flex flex-column gap-2 w-4">
                <label htmlFor="clerk" class="font-bold text-lg">收費人員</label>
                <p-dropdown styleClass="text-lg h-3rem w-12 border-round surface-200" [options]="selection" [(ngModel)]="selected" optionLabel="department"  placeholder="自動帶入"></p-dropdown>
              </div>
              <div class="card flex flex-column justify-content-center gap-2 w-4">
                <label htmlFor="selection" class="font-bold text-lg">起始時間</label>
                <p-calendar styleClass="w-12 surface-400 border-round text-lg" appendTo="body" [showTime]="true" hourFormat="24"  dateFormat="yy-mm-dd" [(ngModel)]="date" [showIcon]="true"></p-calendar>
              </div>
              <div class="card flex flex-column justify-content-center gap-2 w-4">
                <label htmlFor="selection" class="font-bold text-lg">截止時間</label>
                <p-calendar styleClass="w-12 surface-400 border-round text-lg" appendTo="body" [showTime]="true" hourFormat="24"  dateFormat="yy-mm-dd" [(ngModel)]="date" [showIcon]="true"></p-calendar>
              </div>
            </div>
            <hr>
            <div class="table-content w-full flex mt-2 mb-2 gap-2">
              <div class="card height p-3 border-round-lg w-12 overflow-auto">
                <p-table [value]="products" [tableStyle]="{ 'min-width': '20rem' }" class="low-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th colspan="2" class="text-left">收據張數</th>
                            <td colspan="2" class="text-right">316張</td>
                        </tr>
                        <tr>
                          <th colspan="2" class="text-left">收據金額</th>
                          <td colspan="2" class="text-right">102,500元</td>
                        </tr>
                        <tr>
                          <th colspan="1" rowspan="2" class="text-center">收據金額</th>
                          <th colspan="1" class="text-left">門診</th>
                          <td colspan="2" class="text-right">402,500元</td>
                        </tr>
                        <tr>
                          <th colspan="1" class="text-left">急診</th>
                          <td colspan="2" class="text-right">102,500元</td>
                        </tr>

                    </ng-template>
                </p-table>
              </div>
            </div>
          </div>
          <hr>
          <div class="button-area flex justify-content-end gap-2">
            <p-button styleClass="p-button-sm text-0 mycolor text-900 hover:text-0 hover:bg-green-800" (click)="closeDialog()" label="取消"></p-button>
            <p-button styleClass="p-button-sm text-white bg-green-800 text-900 hover:text-0 hover:mycolor" (click)="closeDialog()" label="確定"></p-button>
          </div>
          </p-dialog>
      </div>
      <p-button styleClass="p-button-sm text-0 mycolor text-900 hover:text-0 hover:bg-green-800" label="清除內容"></p-button>
      <p-button styleClass="p-button-sm bg-green-800" label="存擋"></p-button>
    </div>
    <!-- button-area end -->
  </div>

  <!-- 輸入病例號 -->
  <app-payment-searchbar></app-payment-searchbar>
  <!-- 收費名稱 -->
  <app-payment-detail></app-payment-detail>

</div>
