<div class="w-full h-full surface-200 border-round-top-2xl border-noround-right z-0 pt-2 p-3">

  <!-- 頁面名稱 -->
  <div class="flex justify-content-between px-2">
    <!-- subtitle -->
    <div >
      <h3 class="titleColor m-0">門診批價系統 /批價管理 <i class="pi pi-question-circle"></i></h3>
    </div>
    <!-- subtitle end -->

    <!-- button-area -->
    <div class="button-area flex gap-3">
      <div>
        <p-toast></p-toast>
        <p-splitButton styleClass="p-button-sm" appendTo="body" label="列印" (onClick)="save('info')" [model]="items"></p-splitButton>
      </div>
      <p-button styleClass="p-button-sm p-button-sm text-0 mycolor text-900 hover:text-0 hover:bg-green-800" label="收費查詢"></p-button>
      <p-button styleClass="p-button-sm text-0 mycolor text-900 hover:text-0 hover:bg-green-800" label="清除內容"></p-button>
      <p-button styleClass="p-button-sm bg-green-800" label="存擋"></p-button>
    </div>
    <!-- button-area end -->
  </div>

  <!-- 輸入病例號 -->
  <app-payment-searchbar></app-payment-searchbar>
  <!-- 收費名稱 -->
  <app-payment-detail></app-payment-detail>

</div>
