<div class="detail h-full">
  <!-- <div class="card">
    <p-tabMenu  [model]="items"></p-tabMenu>
  </div> -->
  <p-tabView>
    <p-tabPanel header="醫令收費" >
        <app-payment-profile></app-payment-profile>
    </p-tabPanel>
    <p-tabPanel header="醫令批價">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
    </p-tabPanel>
  </p-tabView>
</div>
