<div class="w-full bg-white border-round-xl p-2 shadow-3 mt-4 mb-3 flex justify-content-between align-items-center">
  <div class="two-input flex gap-2">
    <div class="flex flex-column gap-2">
      <label htmlFor="username" class="font-bold text-lg">病例號碼/身分證號</label>
      <span class="p-input-icon-left">
        <i class="pi pi-search text-900"></i>
        <input type="text" placeholder="請輸入病例號碼或身分證號" class="pl-5 h-3rem text-lg w-20rem border-round" pInputText [(ngModel)]="value" />
      </span>
      <!-- <small id="username-help">Enter your username to reset your password.</small> -->
    </div>
    <div class="card flex flex-column justify-content-center gap-2">
      <label htmlFor="selection" class="font-bold text-lg">收費類別</label>
      <p-dropdown styleClass="text-lg h-3rem w-20rem border-round" [options]="selection" [(ngModel)]="selected" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="takemd-number text-xl">
    <h4>領藥號 {{ number }} -</h4>
  </div>
</div>
