/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
body {
  font-family: var(--font-family);
  margin: 0 auto;
  background:#EEEEEE;
}

.p-menubar input{
  border-radius: 5px;
  height: 35px;
  width: 250px;
}

/* 調整splitbutton */
.p-splitbutton .p-splitbutton-menubutton {
  background-color:#136c34 !important;
}

.p-splitbutton .p-button{
  background-color:#136c34 !important ;
  border-color: #136c34 !important;
}


.p-tabmenuitem{
  border: 1px solid #136c34 !important;
  border-bottom: none !important;
  font-size: 22px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}
.p-tabmenu .p-tabmenu-nav{
  background-color: #EEEEEE !important;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  padding:10px !important;
  background-color: #EEEEEE !important;
}

.p-datepicker-trigger{
  color:#000 !important;
  background: transparent !important;
  border-color: #BDBDBD !important;
}

/* 獨立設定 */
.top-table .p-datatable thead th {
  font-size: 18px ;
  color:#3C6353 ;
  background-color:#DBE5E1 ;
  padding:0 ;
  font-weight: bold ;
  text-align:center ;
  border-bottom:1px solid #000 ;
}

.top-table .p-datatable tbody td {
  border: 1px solid #ccc;
  padding:0;
  font-weight: bold;
  text-align: end;
  padding-top: 5px;
  padding-right: 2px;
  border-bottom:1px solid rgb(182, 181, 181);
  border-right: none;
  border-left:none;
}

.low-table .p-datatable thead th {
  font-size: 18px ;
  color:#3C6353 ;
  background-color:#DBE5E1 ;
  padding:0 ;
  font-weight: bold ;
  text-align:center ;
  border-bottom:1px solid #000 ;
}

.low-table .p-datatable tbody td {
  border: 1px solid #ccc;
  padding:0;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-right: 2px;
  border-bottom:1px solid rgb(182, 181, 181);
  border-right: none;
  border-left:none;
}

.p-tabview .p-tabview-nav{
  background-color: #EEEEEE !important;
  font-size: 20px;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  background-color: #EEEEEE !important;
  border-bottom: 1px solid #EEEEEE;
  border-top:5px solid #136c34;
  border-right:1px solid #136c34;
  border-left: 1px solid #136c34;
  padding:10px;
  outline: none;
  color:#3C6353;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  background-color: #EEEEEE !important;
  border-top:5px solid transparent;
  border-bottom:transparent;
  outline: none;
  padding:10px;
}

.p-tabview .p-tabview-panels {
  background-color: #EEEEEE !important;
  padding:0;
  padding-top:15px;
  height: 100%;
}

.titleColor{
  color:#3C6353;
}

.mycolor{
  background-color: #DBE5E1;
  border-color:#DBE5E1;
}
.myheight{
  min-height: 1000px;
}

.containerClass{
  min-width: 65px;
  max-width: 300px;
  width:65px;
  transition: all 0.5s ease-in;
}

.containerClass-collapsed{
  width:300px !important;
  transition: all 0.5s ease-out;
}
.expandMyView{
  margin-left: 300px !important;
  transition: all 0.5s ease-out;
}
.collapseMyView{
  transition: all 0.5s ease-in;
}

.iconStuff{
  font-size: 24px;
  color:rgb(86, 90, 86);
}

.manyinput{
  height: 80vh;
}

.heightAdjust{
  min-height:300px;
  height: 60vh !important;
  max-height: 780px;
}

.heightAdjust2{
  min-height:300px;
  height: 60vh !important;
  max-height: 780px;
}

@media (max-height:1002px) {
  .heightAdjust{
    min-height:300px;
    height: 63vh !important;
    max-height: 750px;
  }
  .heightAdjust2{
    min-height:100px;
    height: 67vh !important;
    max-height: 780px;
  }
  .height{
    height: 42%;
  }
}

@media (max-height:843px) {
  .heightAdjust{
    min-height:300px;
    height: 60vh !important;
    max-height: 750px;
  }
  .heightAdjust2{
    min-height:100px;
    height: 62vh !important;
    max-height: 780px;
  }
  .height{
    height: 30%;
    overflow-y: auto;
  }
}

