/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
body {
  font-family: var(--font-family);
  margin: 0 auto;
}

.p-menubar input{
  border-radius: 5px;
  height: 35px;
  width: 250px;
}

/* 調整splitbutton */
.p-splitbutton .p-splitbutton-menubutton {
  background-color:#136c34 !important;
}

.p-splitbutton .p-button{
  background-color:#136c34 !important ;
  border-color: #136c34 !important;
}


.p-tabmenuitem{
  border: 1px solid #136c34 !important;
  border-bottom: none !important;
  font-size: 22px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}
.p-tabmenu .p-tabmenu-nav{
  background-color: #EEEEEE !important;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  padding:10px !important;
  background-color: #EEEEEE !important;
}


.titleColor{
  color:#3C6353;
}

.mycolor{
  background-color: #DBE5E1;
  border-color:#DBE5E1;
}
